<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MemberDAO">
	
	<insert id="signup"
			parameterType="MemberDTO">
	INSERT 
		INTO
			UNIKLO_MEMBER
		VALUES(	
				  MEMBER_ID
				, MEMBER_PW
				, MEMBER_NAME
				, MEMBER_EMAIL
				, RESIDENCE
				, ENROLL_DATE
			  )	
	</insert>
	
</mapper>